<div>
<video  poster="p1.jpg" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="https://www.jazzhr.com/wp-content/uploads/2016/06/Homepage-Clips-Cut.mp4" type="video/webm">
<source src="https://www.jazzhr.com/wp-content/uploads/2016/06/Homepage-Clips-Cut.mp4" type="video/mp4">
</video>


<div id="polina">
<h1>俄语招聘信息网</h1>
<p>第一个专为俄语人打造的招聘信息网站</p>
<!--<p><a href="http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video">original article</a>-->
<p>机器搜索+人工过滤</p>
<p>只为您搜索最有用的信息</p>
<p>节约您宝贵的时间、精力！</p>
<p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">浏览工作</a></p>
</div>


</div>
